<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Portfolio-New-Version</title>
    <script>
        function DarkMode(){
            var body = document.querySelector("body");
            var section =document.querySelector("section");
            var theme = document.getElementById("theme");
           
            if(theme.checked){
                body.className = "dark-mode nav-list-dark nav-bar";
                
                
            } else{
                body.className = "light-mode nav-list-light nav-bar";
               
            }
        }
    </script>
</head>
<body class="container-fluid light-mode">
<nav class="nav-bar">
   
            <div class="brand-logo">
                <img src="F-Name-unscreen.gif" width="100" height="80" alt="brand-logo" class="mb-2">
            </div>
            <ul class="nav-list text-white">
               <li><a href="#home">Home</a></li> 
               <li><a href="#about">About</a></li> 
               <li><a href="#work">Work</a></li> 
               <li><a href="#services">Services</a></li> 
               <li><a href="#contact">Contact</a></li> 
               <li><a href="#resume">Resume</a></li> 
            </ul> 
            <div class="me-4 mb-3">
                <input type="checkbox" class="checkbox" class="form-check-input" onchange="DarkMode()" id="theme">
                <label class="label" for="theme">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" id="light" class="bi bi-brightness-high-fill " viewBox="0 0 16 16">
                        <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-moon-fill"  id="dark" viewBox="0 0 16 16">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                      </svg>
                    <div class="ball"></div>
                </label>
            </div>
        </nav> 
        
     
    <script src="script.js"></script>
</body>
</html>